Debug/arena.exe
Debug/arena.ilk
Debug/arena.pdb
arena/Debug/arena.log
arena/Debug/arena.pch
arena/Debug/arena.tlog/CL.command.1.tlog
arena/Debug/arena.tlog/CL.read.1.tlog
arena/Debug/arena.tlog/CL.write.1.tlog
arena/Debug/arena.tlog/arena.lastbuildstate
arena/Debug/arena.tlog/link.command.1.tlog
arena/Debug/arena.tlog/link.read.1.tlog
arena/Debug/arena.tlog/link.write.1.tlog
arena/Debug/draw.obj
arena/Debug/main.obj
arena/Debug/menu.obj
arena/Debug/stdafx.obj
arena/Debug/vc140.idb
arena/Debug/vc140.pdb
